.ad-right-section{
    background-color: #f3d2c1;
    height: 67vh;
    width: 65.2%;
    border-radius: 30px;
    overflow-y: auto;
    font-family: "Fira Sans", sans-serif;
   }
   #ad-table{
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
   }
   #ad-table thead{
    width:100%;
   }
  
  
   #ad-table th{
    background-color: #bc414e;
    position: sticky;
    top: 0;
    height: 60px;
    color: #fff7f7;
    width: 20%;
    font-size: 1.2rem;
  
  }
  
  tbody td{
    height: 3vh;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  
  }
  .cer-dead{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cer-dead label{
    font-size: 1.5rem;
    width: 60%;
  }
  #certificate-deadline{
    width: 50%;
  }
  
  tbody tr:nth-child(odd){
    background-color: #172c66;
    color: white;
  }
  tbody tr:nth-child(even){
    background-color: white;
  }
  tbody button{
    background-color: #8bd3dd;
    border: none;
    height: 5vh;
    width: fit-content;
    object-fit: contain;
    /* margin: 0px 20px; */
    border-radius: 50%;
    
  }
  tbody input{
    font-size: 0.75rem;
    padding: 5%;
    width: 80%;
  }
  tbody img{
    height: 3vh;
    object-fit: contain;
  }
  thead :nth-child(1){
    width: 5%;
  }
  thead :nth-child(2){
    width: 5%;
  }
  thead :nth-child(3){
    width: 10%;
  }
  thead :nth-child(4){
    width: 10%;
  }
  thead :nth-child(5){
    width: 16%;
  }
  thead :nth-child(6){
    width: 16%;
  }
  
  thead :nth-child(7){
    width: 10%;
  }
  thead :nth-child(8){
    width: 10%;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .edit-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .confirm-button, .cancel-button {
    background:  #8bd3dd;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  .ad-tick-cross{
    display: flex;
    gap: none;
  }
  .ad-tick-cross button{
    width: fit-content;
    border: none;
    margin: none;
  }
  #table-body input{
    width: 100%;
  }