
table {
    table-layout: fixed;
    width: 100%;
    /* padding: 10px; */
    overflow-x: auto;
    height: fit-content;
    border-collapse: collapse;
}

thead tr{
    /* border-radius: 16px; */
    height: 8vh;
    width: 15%;
    font-size: 24px;
    position:sticky;
}

th{
    background-color: #bc414e;
    position: sticky;
    top: 0;
    color: white;
}

th, td{
    /* border-radius: 16px; */
    padding: 8px;
    text-align: center;
    /* border: 1px solid #ddd; */
}
  
tbody td{
    height: 6vh;
    font-size: 1.8rem;
}

.view-button, .edit-button{
    background-color: #8bd3dd;
    border: none;
    height: 5vh;
    width: fit-content;
    object-fit: contain;
    margin: 0px 20px;
    border-radius: 50%;
}
  
tbody img{
    height: 3vh;
    object-fit: contain;
}

tbody tr:nth-child(odd){
  background-color: #172c66;
  color: white;
}

tbody tr:nth-child(even) {
    background-color: white;
}   

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
  