.add-bottom {
    background-color: #f3d2c1;
    width: 98%;
    height: 65vh;
    border-radius: 24px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 1%;
  }
  
  .add-box {
    height: 20vh;
    width: 23%;
    background-color: #fef6e4;
    color: #001858;
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
  
  .add-box a {
    color: #ef4565;
    text-decoration: none;
  }
  
  .add-box p {
    padding: 20px;
    font-size: 1.8rem;
  }
  
#csv-file {
  font-size: 1rem;
  padding-left: 3px;
}