.coursesRow {
  margin: 30px;
  background-color: #fef6e4;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #888888;
}

.coursesRow.collapsed .collapsibleContent {
  max-height: 0;
}

.coursesRow.collapsed .tabCollapse .fa-angle-down {
  transform: rotate(180deg);
}

.rowHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.iconContainer {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  width: 100%;
}

.iconSpacing {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px; 
}

.deadlineWrapper {
  color: red;
}

.iconWrapper,
.semesterWrapper,
.deadlineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper i {
  font-size: 150%;
  margin: 10px;
}

.iconWrapper span,
.semesterWrapper span {
  font-size: 1.5rem;
}

.tabCollapse {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.collapsibleContent {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 1000px; 
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.courseInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.completeApplicationBtn,
.certificateBtn {
  background-color: #fef6e4;
  height: 70px;
  color: #001858;
  border: 5px solid #001858;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 1.25rem;
  box-shadow: 1px 1px 5px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadCertificateContainer {
  display: flex;
  gap: 10px;
}

.certificateBtn {
  width: 70px;  
}

.submitCertificateBtn {
  width: auto;  
}

.selectedCourseName {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  padding-left: 20px;
}

.selectedCourseType {
  margin-left: 10px;
}

.courseTypeSection,
.courseChosenSection {
    display: flex;
    flex-direction: column;
}

.courseList {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.courseList li {
  margin-bottom: 5px;
}